registry=https://artifacts-061573364520.d.codeartifact.us-east-2.amazonaws.com/npm/volatility-npm-store/
//artifacts-061573364520.d.codeartifact.us-east-2.amazonaws.com/npm/volatility-npm-store/:always-auth=true
//artifacts-061573364520.d.codeartifact.us-east-2.amazonaws.com/npm/volatility-npm-store/:_authToken=${CODEARTIFACT_AUTH_TOKEN}