registry=https://artifacts-994224827437.d.codeartifact.us-east-2.amazonaws.com/npm/volatility-npm-store/
//artifacts-994224827437.d.codeartifact.us-east-2.amazonaws.com/npm/volatility-npm-store/:always-auth=true
//artifacts-994224827437.d.codeartifact.us-east-2.amazonaws.com/npm/volatility-npm-store/:_authToken=${CODEARTIFACT_AUTH_TOKEN}